.row-header{
	margin: 0px auto;
	padding: 0px auto;

}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.footer{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.jumbotron{
	padding: 50px 30px 30px 30px;
	margin: 0px auto;
	background:#4304af;
	color: floralwhite;
	height: 220px;
}

.address{
	font-size: 80px;
	margin: 0px;
	color: #0f0f0f

}

body{
	padding: 50px 0px 0px 0px;
	z-index: 0;

}
.navbar-dark{
	background-color: #250474;
}
/* .card-header{
	background-color: #212529;
} */
.tab-content{
	border-left: 1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

#reservetable{
	color: #ddd;
}
.carousel{
	background: #250474;
	

}
.carousel-item{
	height: 250px;

}
.carousel-item img{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 250px;
}
#carouselButton{
	right: 0px;
	position: absolute;
	bottom: 0px;
}
#loginhead{
	background-color: #340486;
	color: #ddd;
}
#loginbody{
	background: #c8bddb;
font-size: 15px;
font-weight: bold;
}
#reservehead{
	background-color: #340486;
	color: #ddd;
}
#reservebody{
	background: #c8bddb;
color: black;
text-emphasis-color: black;
font-size: 15px;
font-weight: bold;
}
#cardhead{
	background:#4304af;
	color: floralwhite;
}
#tablehead{
	background:#4304af;
	color: floralwhite;
}
.map-container-5{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
	}
	.map-container-5 iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	}